* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212121;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}
.navbar {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.main {
  max-width: 70vw;
  font-family: "Archivo Black", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 130px;
  color: #ffffff;
  font-weight: 900;
  font-stretch: expanded;
  letter-spacing: -5px;
  line-height: 0.9;
  text-align: center;
  margin: 0 auto;
  transform: scaleY(0.7);
}
